<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

    <h1><i>- Музей информационных технологий -</i></h1>
    <img src="/photos/logo.jpg"
         height="150" width="700">
    
         
    <br><i size="5">Что вы можете увидеть в нашем музее?</i><br>  
    <img src="/photos/banner/banner1.jpg" height="130" width="130"></td>
    <img src="/photos/banner/banner2.jpg" height="130" width="130"></td>
    <img src="/photos/banner/banner3.jpg" height="130" width="130"></td>
    <img src="/photos/banner/banner4.jpg" height="130" width="130"></td>
    <img src="/photos/banner/banner5.jpg" height="130" width="130"></td>
  
    <div>
        <a href="{% url 'about' %}">О компании</a><br>
        <a href="{% url 'news_list' %}">Новости музея</a><br>
        <a href="{% url 'vacancies' %}">Вакансии</a><br>
        <a href="{% url 'employee' %}">Сотрудники музея</a><br>
        <a href="{% url 'reviews' %}">Оставить отзыв</a><br>
        <a href="{% url 'faq_list' %}">Вопросы и ответы</a><br>
        <a href="{% url 'promocodes' %}">Промокоды и купоны</a><br>
        <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a><br>
        <a href="{% url 'joke' %}">Подними себе настроение</a><br>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>

    {% if last_news %}
        <h2>{{ last_news.title }}</h2>
        <p>{{ last_news.short_description }}</p>
        {% if last_news.image %}
            <img src="{{ last_news.image.url }}" alt="Изображение новости" height="200" width="200">
        {% endif %}
        <p>{{ last_news.content }}</p>
        <div>Опубликовано: {{ last_news.published_at|date:"d.m.Y H:i" }}</div>
    {% else %}
        <p>Новостей пока нет.</p>
    {% endif %}

    <a href="{% url 'home' %}">← Назад на главную</a>

</body>
</html>
